# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
env/
.venv/

# Sistema operativo
.DS_Store
Thumbs.db

# Editores
.vscode/
.idea/
*.swp

# Archivos temporales
*.log
*.tmp

# Streamlit (por si acaso)
.streamlit/